@page
@model IndexModel
@{
    ViewData["Title"] = "Сидякин Дмитрий - Решение тестового задания";
}

<div id="dataGrid"></div>

@section scripts {
<script asp-append-version="true" language="javascript">



</script>
}
