<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - riit_tech_sidyakind_test_case</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- ... -->
    <script type="text/javascript" src="~/js/jquery-3.5.1.min.js"></script>

    <!-- DevExtreme theme -->
    <link rel="stylesheet" href="~/css/dx.light.css">

    <!-- DevExtreme libraries (reference only one of them) -->
    <script type="text/javascript" src="~/js/dx.all.js"></script>
    <!-- <script type="text/javascript" src="~/js/dx.web.js"></script> -->
    <!-- <script type="text/javascript" src="~/js/dx.viz.js"></script> -->
</head>
<body class="dx-viewport">
    
    @RenderBody()
        

    <!-- <script src="~/lib/jquery/dist/jquery.min.js"></script> -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>